<ion-header>
  <ion-toolbar>
    <ion-title>Datos de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Nombres : </ion-label>
    <ion-label slot="end">{{params.nombres}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Apellidos : </ion-label>
    <ion-label slot="end">{{params.apellidos}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>CI : </ion-label>
    <ion-label slot="end">{{params.ci}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Direccion : </ion-label>
    <ion-label slot="end">{{params.direccion}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Rol : </ion-label>
    <ion-label slot="end">{{params.rol}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email : </ion-label>
    <ion-label slot="end">{{params.email}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
